<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.ExtentListener"/>
    </listeners>
    <test name="src/test/java/org.elasticAI">
        <classes>
            <class name="org.elasticAI.TableSortSearchTest">
            </class>
        </classes>
    </test>
</suite>